.row{
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.contentInput {
    min-width: 300px;
    min-height: 2.5em;
}

.contentInput input{
    text-align: left;
}

.contentInput p{
    font-size: 0.8em;
    max-height: 1em;
    margin: 0.1em 0 0 0;
} 

.label {
    display: inline-block;
    min-width: 100px;
    text-align: left;
}